NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
META_APP_ID=
META_APP_SECRET=
META_CONFIG_ID=            # Embedded Signup configuration id
WEBHOOK_VERIFY_TOKEN=
CRON_SECRET=
GRAPH=https://graph.facebook.com/v21.0
NEXT_PUBLIC_META_APP_ID=
NEXT_PUBLIC_META_CONFIG_ID=
